<!DOCTYPE html>
<html>
<head lang="pt-br">
    <title>Início</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
	<div class="container">
		<div class="start-template">
		<h1>Bem-vindo ao Eventgram</h1>
    	<p>Colocar botão para autorização do instagram)</p>
    	</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../static/css/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
	<script src="../static/css/bootstrap-3.3.5/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>