<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-br">

</head>
<body>

	<div class="container">
		<div th:fragment="menu">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Eventgram</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Início</a></li>
							<li><a
								href="https://instagram.com/oauth/authorize/?client_id=b9ea3ffedb77460aa455ce5a3e331d5b&amp;redirect_uri=http://localhost:8080/new/&amp;response_type=token">Criar
									álbum</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</body>
</html>