<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Album list</h1>
  
    <table>
      <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
      </tr>
      <tr th:each="album : ${albums}">
        <td th:text="${album.name}">Nome</td>
        <td th:text="${album.description}">Descricao</td>
      </tr>
    </table>
</body>
</html>