<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-br">
	<title>Albums</title>
	<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>

<body>
	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->

	<div class="container">
		<div class="starter-template">
			<h1>A nossa lista de álbuns mais recente</h1>
			<p class="lead">Nós capturamos fotos públicas com base nos seus
				critérios de busca e montamos um álbum pra você!</p>
			<p class="lead">Veja abaixo os últimos álbuns criados.</p>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-3" th:each="album: ${albums}">
				<div class="thumbnail">
					<img th:src="@{${album.cover}}" />
					<div class="caption">
						<h3 th:text="${album.id}">ID</h3>
						<h3 th:text="${album.name}">Nome do álbum</h3>
						<p th:text="${album.description}">Descrição do álbum.</p>
						<p>
							<a href="" class="btn btn-primary" role="button"> Ver álbum
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../../static/css/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
	<script
		src="../../static/css/bootstrap-3.3.5/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

