<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${album.name}">Album</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
	<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
	
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-8 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" th:src="@{${photo.link}}"/>
                    <div class="caption">
                    	<h3 th:text="${photo.ownerUsername}">Nome de usuário</h3>
                    	<p th:text="${photo.subtitle}">Legenda da foto.</p>
                    </div>
                </a>
            </div>
        </div>
	</div>
</body>
</html>